build/
node_modules/
src/lib/ag-grid/
src/lib/ckeditor/
static/
*.config.js
*.config.ts
*.json
*.md
*.txt
*.log
*.lock
*.ico
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.woff
*.woff2
*.ttf
*.eot
*.swp
*.swo
*.bak
*.tmp
*.temp
.DS_Store
Thumbs.db